<div class="card mb-4">
    <img class="card-img-top" src="{{ article.image }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ article.titre }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-dark">Lire l'article</a>
    </div>
</div>