<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SymCars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_vehicules') }}">Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_articles') }}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_lucky_number') }}">Lucky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_recherche') }}">Recherche</a>
        </li>
      </ul>
    </div>
  </div>
</nav>