{% extends "base.html.twig" %}

{% block title %}SymCars - Accueil{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymCars !</h1>
    <p class="lead">SymCars est un site internet sur lequel vous trouverez de nombreuses exclusivités sur les dernières sorties de véhicules. Pleins d'informations à propos de tous vos modèles de voitures vous attendent sur notre site.</p>
    <hr class="my-4">
    <p>Vous pouvez créer votre compte pour bénéficier d'un programme de fidélité sur la visibilité d'exclusivités sur les derniers modèles. N'attendez plus pour vous inscrire !</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Créer mon compte</a>
    </div>
</div>

{% endblock %}