{% extends 'base.html.twig' %}

{% block title %}SymCars - Lucky Number{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Lucky Number</h1>
        <p>Le lucky number est : {{ number }}</p>
    </div>
{% endblock %}